body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#calculator {
  
  width: 40vw;
  height: 50vw;
  background-color: #5C5C5C;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#calculator-content {
  background-color: #454545;
  display: flex;
  width: 90%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#screen {
  width: 90%;
  height: 10%;
  font-size: 2em;
  background-color: #C7C7C7;
}

#button-wrapper {
  width: 90%;
  height: 70%;
  margin-top: 10%;
  display: flex;
}

#numbers-wrapper {
  display: flex;
  height: 100%;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-around;
}

#operators-wrapper {
  display: flex;
  flex-wrap: wrap;
  width:50%;
  height: 100%;
}

#calc-button {
  width: 25%;
  height: 15%;
  margin: 3px;
}

